[data]
dir=/home/zc/data/
[base]
port=4083
[log]
dir=/home/zc/logs/tinydb/
level=DEBUG
[transaction]
## Supports four transaction isoland level, READ_UNCOMMITTED, READ_COMMITTED, REPEATABLE_READ, SERIALIZABLE.
trans_isolation_level=READ_COMMITTED
auto_rollback=true
[auth]
account=root
password=Zc120130211
